<div>
  <h2><%= @restaurant.name %></h2>
  <h3>Rating: ⭐<%= @restaurant.reviews.average(:rating).to_f.round(1) %></h3>
  <%# get the key :rating from reviews associated with the restaurant and average all the value of the key :rating %>
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Phone: <%= @restaurant.phone_number %></h3>
</div>
<%= link_to "Delete", restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<div>
  <h3>Reviews (<%= @restaurant.reviews.count %>)</h3>
  <%= link_to "Add a Review", new_restaurant_review_path(@restaurant)%>
  </div>


<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <%end %>
</ul>
